[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "==20.8b1"
pylint = "*"

[packages]
"rpi.gpio" = { os_name = "== 'linux'" }
pillow = "*"
spidev = { os_name = "== 'linux'" }
ffmpeg-python = "*"
youtube-dl = "*"
ffmpeg = "*"
python-dotenv = "*"
requests = "*"

[requires]
python_version = "3.8"
