[Unit]
Description=Very Slow Movie Player!

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
EnvironmentFile=/home/pi/very-slow-movie-player/.env
ExecStart=/home/pi/very-slow-movie-player/.venv/bin/python /home/pi/very-slow-movie-player/very_slow_movie_player/main.py

[Install]
WantedBy=multi-user.target
