[Unit]
Description=Very Slow Movie Player!

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/very-slow-movie-player/.venv/bin/python /home/pi/very-slow-movie-player/src/main.py

[Install]
WantedBy=multi-user.target
